<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Trump Mood Playlister</title>
    <link rel="stylesheet" href="css/foundation.css">
    <link rel="stylesheet" href="css/app.css">
	</head>
	<body>
		<div class="callout large primary">
			<div class="row column text-center">
				<h1>Trump Mood Playlister</h1>
				<h2 class="subheader">Listen to the mood of Trump, via 80s Power Ballads</h2>
			</div>
		</div>
		<div class="row">
			<div class="large-12 columns text-center"><h3><%= artist %> - <%= song %></h3></div>
		</div>
		<div class="row column text-center">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/<%= videoId %>" frameborder="0" allowfullscreen></iframe>
		</div>

		<div class="row column text-center">
			Using sentiment analysis we are able to determine just how angry Trump is today, with this we can curate a playlist to suit his mood.
		</div>

	</body>
</html>

<script src="js/vendor/jquery.js"></script>
<script src="js/vendor/what-input.js"></script>
<script src="js/vendor/foundation.js"></script>
<script src="js/app.js"></script>
